.App {
  text-align: center;
}

.TextField{
color:green;
}
body{
  background-image:url("https://d1yn1kh78jj1rr.cloudfront.net/image/preview/rptoJsK-Wj3a5tl3u/storyblocks-vector-circuit-network-diagram-technology-background-design_HwjL1428G_SB_PM.jpg");
  background-repeat: no-repeat;
}
.button
{
  border: solid;
  color:blue;
  text-align: center;
  font-weight: bold;
  margin-left: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
