#ColorSelection
{
    width: 100%
}

#TblColor
{
    width:20%;
    height: 30%;
    margin-top: 15px;
}

#Tblrow
{
    width:10%;
    height:20%;
}

#Tbldata
{
height: 30%;
}

